header{
    height: 50px;
}
footer{
    height: 50px;
    background-color: rgb(244, 245, 204);
}
main{
    height: calc(100vh - 100px);
    background-color: aquamarine;
}

.grid-container{
    width: 70vw;
    height: 70vh;
    border: 2px solid black;
    margin: 3rem auto;
}
#my-wrapper .box.clicked-bomb{
    background-color: red;
}
#my-wrapper .box.clicked{
    background-color: rgb(19, 165, 68);
}

.box{
    border: 2px solid saddlebrown;
    color: bisque; 
}